<div class="container">
  <h1>
    <%= @restaurant.name %>
  </h1>
  <h3>
    <%= @restaurant.category.capitalize %>
  </h3>
  <p>
    <%= @restaurant.address %>
  </p>
  <p>
    Ph: <%= @restaurant.phone_number %>
  </p>
  <h2>
    Reviews
  </h2>
  <% @restaurant.reviews.each do |r| %>
  <div class="row">
    <div class="col-12">
      <p>
      <%= r.content  %>
      </p>
      <h5>
      <%= "Rating: #{r.rating} stars"  %>
      </h5>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <h1>Leave Review</h1>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content  %>
        <%= f.input :rating,  as: :radio_buttons, collection: (0..5).to_a, boolean_style: :inline%>
        <%= f.submit "Add Review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <%= link_to "Back to List", restaurants_path, class: "btn btn-primary" %>
</div>
